<!DOCTYPE html>
<html lang="en">
<style>
        body {
            background-image: url('https://wallpaperaccess.com/full/36656.jpg');
            display: flex;
            background-size: cover;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            color: white;
            font-size: 30px;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <title>Moscow time</title>
</head>
<body>
    <h1>{{ utc_dt }}</h1>
</body>
</html>